{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>This website is the final project for 10th grade data science class in Tichonet NA Alterman school and a part of computer science final grade</p>
<p>The project is focused on data analysis and visualizing it in a cimfort way to see and read it. I explored the traffic accidents subject and found a large database. I'm trying to make it easy for people to see the data and reach valuable conclusions.</p>
<p>In the project I used Python language, specificly Pandas liberary and Flask internet framework</p>


{% endblock %}
